{% extends 'main/layout.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
<h2>Про нас</h2>
    <div class="info">
        <p>
            Главная страховая компания Атлантиды работает с начала времён. Наша клиентская база насчитывает сотни
            тысяч миллионов физических и юридических лиц. Мы рады предоставить страховые тарифы как мелким рыбёшкам,
            так и птицам высокого полёта.<br>Наши агенты помогут вам понять, что страхование очень важно в наше штормящее
            время, а также подберут наиболее подходящий вам тариф, независимо от наполненности вашей мошны (или её наличия).
            <br>Главная страховая компания Атлантиды поможет вам позаботиться о вашем будущем, каким бы оно ни было.
            Выбирая нас, вы выбираете надёжную почву под ногами для себя и своих близких. <br> Главная страховая компания
            Атлантиды: "после нас — хоть потоп".
        </p>
    </div>
{% endblock %}