<header>
    <nav>
            <ul>
                <li>
                    <a href="{% url 'home' %}"> Главная страница </a>
                </li>
                <li>
                    <a href="{% url 'about' %}"> Про нас </a>
                </li>
                <li>
                    <a href="{% url 'rates' %}"> Наши тарифы </a>
                </li>
                <li>
                    <a href="{% url 'agents' %}"> Наши агенты </a>
                </li>
                <li>
                    <a href="{% url 'contacts' %}"> Наши контакты </a>
                </li>
                <li>
                    <a href="{% url 'email' %}"> Отправить заявку </a>
                </li>
            </ul>
</header>