{% extends 'main/layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <h2>Главная страница</h2>
    <div class="info">
        <p>
            Вас приветствует главная страховая компания Атлантиды! С нами и Вселенский потоп нестрашен!
            Мы рады предоставить вам наши услуги медицинского страхования, страхования жизни и страхования имущества!<br>
            Чтобы узнать о нас, перейдите на вкладку "Про нас".<br>Чтобы ознакомиться с тарифами, перейдите на вкладку "Наши тарифы".<br>
            Чтобы увидеть наших агентов, которые рады работать с вами, перейдите на вкладку "Наши агенты".<br>
            Чтобы связаться с нами, перейдите на вкладку "Наши контакты". <br>
            Чтобы оформить заявку на консультацию, перейдите на вкладку "Отправить заявку".
        </p>
    </div>
{% endblock %}
